<% provide(:title, "About") %>
<html>

<body>
    <section class="contact">
        <div class="contact__container container">
            <div class="row">
                <div class="col col-6-md">
                    <div class="contact__text">
                        <h1>About Us</h1>
                        <p>Many things are changing quite rapidly as we march through the 21st century and some of
                            what’s
                            changing is bad but a lot of what’s changing is good.
                            One aspect of modern life that is changing for the better, slowly but surely,
                            is the access to proper nutritional information and healthy eating practices. </p>

                        <p>With apps like MyFitnessPal allowing more and more people to be acutely aware of what they’re
                            putting into their body, which allows for healthy weight-loss and weight-gain,
                            it also highlights the deficiencies in their diets be that a lack of protein, iron,
                            multivitamins etc.</p>

                        <p>With many people living life on a low income family budget it can be hard to buy the foods
                            necessary to reach daily macronutrient goals and this goes double
                            for individuals who are also physically active which increases the need for more food in
                            general
                            but also a higher protein intake for muscle growth for example.</p>

                        <p>This is where www.KonCon-Supplements.ie attempts to help everyone regardless of their diet or
                            physical goals to reach their optimal healthy intake of both micro and macro-nutrients.
                            With a wide array of products on offer there is something for everyone, protein supplements
                            which are especially useful for bodybuilders and people with a high carb diet to reach their
                            daily recommended intake of about .8g of protein per lb of bodyweight,
                            there are weight gainer supplements for people who struggle to eat to put on weight in the
                            form
                            of shakes, fish oils for brain development and health, multivitamins, iron supplements and
                            much
                            more.</p>

                        <p>With the use of supplements people can live a more carefree and flexible diet to eat what
                            they
                            want and supplement
                            any deficiencies they may have up to their recommended daily allowance of calories.
                            We hope to encourage people to continue to be health conscious whilst simultaneously living
                            an
                            enjoyable healthy life.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>