/* ...
*= require_self
*= require_tree .
*/

html {
    position: relative;
    min-height: 100%;
}

ul { 
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;    
    
}

li {float:left;}

li a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}

.foot { 
     min-height: 80px;
    background-color: #2e2d2c;
    width: 100%;
    margin-top: 10px; 
     overflow: auto;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
}

#search {
    background-color: white;
}

.contact__text h1{
    color: black;
}

.contact__text td {
    font-size: 17px;
    line-height: 30px;
}

.contact__text button {
    appearance: button;
}