<html>

<body>
    <section class="contact">
        <div class="contact__container container">
            <div class="row">
                <div class="col col-6-md">
                    <div class="contact__text">
                        <div>
                            <h1>Categories</h1>
                            <br>
                            <table>
                                <% @categories.each do |category| %>
                                <td class="producthols">
                                    <h1><%= category.title %></h1>
                                    <%= link_to (image_tag category.image , :class=>"productholsIm", :style =>"height:150px") %>
                                    <p><a href="/category/<%= category.title %>"
                                    class="button"> View Products in this Category</a>
                                    </p>
                                </td>
                                <td>
                                    
                                </td>
                                <% end %>

                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>
